<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
    <style>
        .center {
            width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="center">
        <h3><a href="/">На главную</a></h3>

        <form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:accept-charset="UTF-8" th:object="${user}">
            <table>
                <tbody>
                    <tr>
                        <td><label for="name">Имя</label></td>
                        <td><input th:field="*{name}" type="text" id="name"/></td>
                        <td style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                    </tr>
                    <tr>
                        <td><label for="surname">Фамилия</label></td>
                        <td><input th:field="*{surname}" type="text" id="surname"/></td>
                        <td style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
                    </tr>
                    <tr>
                        <td><label for="age">Возраст</label></td>
                        <td><input th:field="*{age}" type="text" id="age"/></td>
                        <td style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Обновить"/></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>